img {
  display: flex !important;
}

:root {
  --color-primary: #2c6cd5;
  --color-gray-primary: #43484e;
  --color-link-default: #868e96;
  --color-footer-login: #ececec;
  --bg-table-header: #ececec;
  --color-primary-border: #c1c1c1;
  --color-text-primary: #212529;
  --home-card-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.02),
    0px 28px 28px 0px rgba(0, 0, 0, 0.02), 0px 63px 38px 0px rgba(0, 0, 0, 0.01);
}

html,
* {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    padding-right: 8px;
    background-color: transparent;
  }

  &:hover {
    &::-webkit-scrollbar {
      width: 0px;
      height: 4px;
      background-color: transparent;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: #868e96;
    border-radius: 9999px;
  }
}

input {
  &::placeholder {
    font-size: 14px !important;
    color: #afb0b2 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
      'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
  }
}

.ant-form-item-label {
  font-weight: 500;
}

img {
  display: flex;
  max-width: 100%;
}

@keyframes clippath {
  0%,
  to {
    -webkit-clip-path: inset(0 0 98% 0);
    clip-path: inset(0 0 98% 0);
  }

  25% {
    -webkit-clip-path: inset(0 98% 0 0);
    clip-path: inset(0 98% 0 0);
  }

  50% {
    -webkit-clip-path: inset(98% 0 0 0);
    clip-path: inset(98% 0 0 0);
  }

  75% {
    -webkit-clip-path: inset(0 0 0 98%);
    clip-path: inset(0 0 0 98%);
  }
}

.keyframe_box {
  position: relative;

  &:hover {
    &::before {
      opacity: 1;
    }
  }
  &::before {
    animation: clippath 3s linear infinite;
    border: 4px solid#fb0000;
    border-radius: 10px;
    bottom: -1px;
    content: '';
    left: -1px;
    opacity: 0;
    position: absolute;
    right: -1px;
    top: -1px;
    transition: all 0.5s;
    z-index: 2;
  }
}
