img {
  display: flex !important;
}

html,
* {
  scrollbar-width: thin; /* Ẩn thanh cuộn của Firefox */
  scrollbar-color: #807f7f #f1f1f1; /* Màu sắc của thanh cuộn: (màu của phần cần kéo) (màu của nền thanh cuộn) */

  &::-webkit-scrollbar {
    width: 8px; /* Chiều rộng của thanh cuộn */
  }

  // &::-webkit-scrollbar-thumb {
  //   background: #888; /* Màu của phần cần kéo trên thanh cuộn */
  //   border-radius: 999px; /* Đường viền cong */
  // }
}

input {
  &::placeholder {
    font-size: 14px;
    color: #afb0b2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
      'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
}

.ant-form-item-label {
  font-weight: 500;
}
